# Server
PORT=5000
NODE_ENV=development

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=smiasb_db

# Database PostgreSQL (untuk test migrasi, belum dipakai aplikasi utama)
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=fikri241101
PGDATABASE=smiasb_postgres
PGSSL=false

# JWT Secret
JWT_SECRET=smiasb_jwt_secret_key_2025_adabiah
JWT_EXPIRE=7d

# Google Login khusus guru
GOOGLE_CLIENT_ID=655941984279-vertj50dlbavegp490p3nmmfh3580k1j.apps.googleusercontent.com

# Gemini API (untuk chatbot)
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-2.5-flash   

# SMTP Email (untuk OTP lupa password guru)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="SMIASB <your_email@gmail.com>"

RESET_OTP_CONSOLE=true

# Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760
